/* Global Styles */
:root {
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Dosis', sans-serif;

  --header-color: #53616c;
  --primary-color: #3a4f5a;
  --primary-hover-color: #778891;
  --secondary-color: #b0b8bd;
  --secondary-hover-color: #969fa4;
  --danger-color: #977070;
  --warning-color: #bb9d82;
  --success-color: #7d9d83;
  --success-hover-color: #5c737f;
  --logout-color: #a49ba1;
  --logout-hover-color: #867b82;
  --background-color: #ebeff1;
  --task-bg-color: #f5f6f7;
  --border-color: #ccd4d8;
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --text-color: #f8fbff;

  --hover-bg-color: #f0f8ff;
  --modal-bg-color: rgba(0, 0, 0, 0.5);
  --button-bg-white: #e3e7ef;
  --button-hover-text: #ffffff;
}

/* Global font application */
body {
  font-family: var(--primary-font); /* Global default is DM Sans */
}

/* Page structure and layout */
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px;
}

.App-header {
  background-color: var(--header-color);
  width: 100%;
  padding: 20px;
  color: var(--text-color);
  box-shadow: 0 4px 8px var(--box-shadow-color);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.app-title {
  font-size: 24px;
  margin: 0;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  right: 20px;
}

.username {
  font-size: 18px;
  color: var(--text-color);
}

.logout-button {
  padding: 10px 20px;
  background-color: var(--logout-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: var(--logout-hover-color);
}

/* Task creation styles */
.main-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
}

.create-task {
  margin-bottom: 30px;
}

.create-task-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.create-task-form .form-group {
  display: flex;
  flex-direction: column;
}

#new-task-title {
  width: 35vw;
}

#new-task-priority, 
#new-task-due-date {
  width: 15vw;
}

.create-task-form input,
.create-task-form select {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
}

.create-task-form button {
  padding: 1vh 2vh;
  background-color: var(--success-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--background-color) 0.3s;
  font-size: 2.5vh;
}

.create-task-form button:hover {
  background-color: var(--success-hover-color);
}

/* Filter container */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container select,
.filter-container input {
  width: 30vw;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

/* List styles */
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--task-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.task-item.priority-high {
  border-left: 10px solid var(--danger-color); /* High priority color */
}

.task-item.priority-medium {
  border-left: 10px solid var(--warning-color); /* Medium priority color */
}

.task-item.priority-low {
  border-left: 10px solid var(--success-color); /* Low priority color */
}

.task-item:hover {
  background-color: var(--hover-bg-color);
}

.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.task-title {
  flex-grow: 1;
  margin-left: 10px;
}

.task-date {
  margin-right: 20px; /* Creates space between the date and buttons */
  color: #6c757d; /* Subtle color for the date */
  font-size: 1.6vh; /* Adjust font size */
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.error-message {
  color: var(--danger-color);
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Button styles */
li button {
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  background-color: var(--button-bg-white);
  color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 2vh;
}

li button:hover {
  background-color: var(--primary-color);
  color: var(--button-hover-text);
}

/* Completed task opacity */
.completed li {
  opacity: 0.7;
}

/* Modal styles */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--task-bg-color);
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px var(--box-shadow-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons button:hover {
  background-color: var(--primary-hover-color);
}

.modal-buttons button:nth-child(2) {
  background-color: var(--secondary-color);
}

.modal-buttons button:nth-child(2):hover {
  background-color: var(--secondary-hover-color);
}

/* Login page styles */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--task-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  text-align: center;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 16px;
}

.btn {
  width: 90%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.toggle-btn {
  background: none;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.toggle-btn:hover {
  text-decoration: underline;
}

.error-message {
  color: var(--danger-color);
  margin-top: 20px;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: stretch;
  }
  
  .title-group,
  .small-group,
  .button-group {
    width: 100%;
  }
}

